# Ignore build outputs
bin/
obj/
Logs/
# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Visual Studio temp folder
.vs/

# Ignore LocalDB physical files (ONLY if not sharing .mdf/.ldf)
*.mdf
*.ldf

# Or if using a .bak file
!DatabaseBackups/EFCore.bak

# Ignore EF Migrations snapshots (optional)
Migrations/*Snapshot.cs

# Ignore log files and OS clutter
*.log
*.DS_Store
Thumbs.db

# Ignore secrets
appsettings.Development.json
appsettings.json
/CleanArchEcommerce.API/Logs/log-20250805.txt
/CleanArchEcommerce.API/Logs/log-20250806.txt
/CleanArchEcommerce.API/Logs/log-20250807.txt
/CleanArchEcommerce.API/Logs/log-20250808.txt
/CleanArchEcommerce.API/Logs/log-20250809.txt
/CleanArchEcommerce.API/Logs/log-20250810.txt
